*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.slider{
    width: 100%;
    margin: 0 auto;
}
.slider__slide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background: cadetblue;
}

.slider__controls{
    display: flex;
    justify-content: center;
}
.slider__controls button{
    padding: 10px;
}

